*{
    padding: 0;
    margin: 0;
   
}
h2{
    text-align: center;
    font-size: 44px;
    margin-bottom: 30px;
    position: relative;
}
h2::before{
    position: absolute;
    content: '';
    width: 55px;
    height: 5px;
    border-radius: 50px;
    background: linear-gradient(45deg , #875cff , #ff66d7);
    bottom: -8px;
}
header .logout{
    background: linear-gradient(45deg , #875cff , #ff66d7) ;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 50px;
    margin-left: 17px;

}
.containerr{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg , rgb(135 129 255) , rgb(255 110 110));
    position: relative;
}
.containerr .box{
    position: absolute;
    width: 1300px;
    top: 25%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #fff;
    padding: 25px 25px 45px 25px;
    border-radius: 20px;
}

header{
    
    width: 100vw;
    height: 100px;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family: 'Poppins';
}

header .inner{
    width: 1800px; 
    display: block;
    margin: 0 auto;
    

}

header .logo{
    display: table;
    height: 100%;
    float: left;
   
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
   
}
.h{
    font-size: 53px;
    
}


header nav{
    float: right;
    height: 100%;
    
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-top: 15px;
    margin-right: 20px;
}

header nav li:last-of-type{
    margin-right: 0;
}
button a {
    text-decoration: none;
}

header nav span{
    display: table-cell;
    vertical-align: middle;
}


header nav a{
   font-size: 24px;
   text-decoration: none;
   color: #a54b8d;
}
header nav a:hover{
    color: #4bd5df;
}
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: auto;
    width: 100%;

    padding-top: 40px;
    color: #111;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #111;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #111;
    border: 1.1px solid black;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #fff;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
}
.footer-bottom p a{
  color: #c057a4;
  font-size: 16px;
  text-decoration: none;
} 

.footer-menu{
  float: right;
 

}
.footer-menu ul{
  display: flex;
  margin-right: 50px;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #111;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  /* color: #27bcda; */
  color: #4bd5df;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}